@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to WorkLog beta</h1>
    <p>Please <a asp-controller="UserInformation" asp-action="Register">register</a> or <a asp-controller="UserInformation" asp-action="Login">login</a> first!</p>
</div>
